# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=test
DB_USER=postgres
DB_PASSWORD=password
DB_SSLMODE=disable

# Migration
DATABASE_URL=postgres://postgres:password@localhost:5432/test?sslmode=disable

# Passkey
PASSKEY_RP_ID=localhost
PASSKEY_RP_ORIGIN=http://localhost:3000

# Redirect
DEFAULT_REDIRECT_URL=http://localhost:3000/mypage
ALLOWED_REDIRECT_URLS=http://localhost:3000/mypage,http://localhost:3100

# Proxy
TRUSTED_PROXIES=

# OIDC Provider
OIDC_ISSUER_URL=
OIDC_CLIENTS=
OIDC_SIGNING_KEY_FILE=
OIDC_SIGNING_KEY=
OIDC_KEY_ID=

# Google OAuth2
GOOGLE_ID=""
GOOGLE_SECRET=""
